#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}
.highScore {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  height: 30px;
  width: 100px;
  background: rgba(121, 194, 199, 0.623);
  padding-top: 8px;
  text-align-last: center;
}
#replay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 10;
}
#bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(129, 199, 204, 0.404);
  width: 600px;
  height: 400px;
  z-index: 0;
}
